body {
  
}

.graph .labels.x-labels {
  text-anchor: middle;
  font-family: "Helvetica Neue", Arial;
}

.graph .labels.y-labels {
  text-anchor: end;
  font-family: "Helvetica Neue", Arial;
}


.graph {
 
  width: 800px;
}
.graph .ticks {
   stroke: blue;
   stroke-width: 1;
}
.graph .division{
  stroke:#555;
  stroke-dasharray:2,3;

  stroke-width:0.5;
}

.graph .grid {
  stroke: #546E7A;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.labels {
  font-size: 13px;
  fill:#263238;
}

.label-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  fill: black;
}

.data {
  fill: red;
  stroke-width: 1; 
}

.chart {
  background: white;
  width: 500px;
  height: 100px;
  border-left: 1px dotted #555;
  border-bottom: 1px dotted #555;
  padding: 20px 20px 20px 0;
}

.graph .circles {
  stroke: #1E88E5;
  stroke-dasharray: 0;
  stroke-width: 1;
  fill:white;
}


